AWS_ENDPOINT_URL=http://localhost:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

S3_BUCKET=cloudflow-raw-reports
SQS_QUEUE_NAME=cloudflow-processing-queue

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=cloudflow_db
POSTGRES_USER=cloudflow
POSTGRES_PASSWORD=cloudflow
